@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

*{
  font-family: 'Raleway', sans-serif;
}

a{
  color: white;
  text-decoration: none;
}

body{
  height: 100vh;
  background-image: url('2157.png');
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}


.container{
  background-color: rgb(9, 71, 95);
  flex-direction: column;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-bottom: 5px solid #4091ff;
  border-radius: 10px;
}
header{
  align-items: center;
  display: flex;
}
header img{
  margin: 5%;
  border-radius: 50%;
  border: 8px solid white;
}
header h1{
  width: 350px;
  color: white;
  text-align: center; 
}
.infos{
  width: 350px;
  color: white;
  text-align: center; 
}
.infos span{
  font-size: 20px;
}

.containerInsignias{
  width: 600px;
  background-color: white;
  padding: 20px 12px;
  }
  .containerInsignias h2{
  text-align: center;
}
ol li{
  width: 220px;
  max-height: 50px;
  padding: 12px;
  margin: 1%;
  background-color: #deecff;
  border-left: 7px solid #4091ff;
  align-items: center;
  display: flex;
  cursor: pointer;
  text-decoration:none; 
  color: black;

}
.alignOl{
  display: flex;
  flex-wrap: wrap;
  color: black;

}

.socialMedia{
  padding: 0px 57px;
  padding-bottom: 50px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.socialMedia button{
  min-width: 120px;
  padding: 12px;
  font-size: 14px;
  text-transform: capitalize;
  background-color: #4091ff;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
}
a{
  color: black;
}